/* some colors you may find useful:
  #115ff4 - blue
  #060ce9 - blue
  #28a200 - green
  #8d2ab5 - purple
  #74119c - purple
*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: 0 auto 10px auto;
}

#new-game-btn{
  display: block;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid;
  margin: 0px auto 20px auto;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  color: #FFCC00;
  background-color: #060ce9;
}

.table {
  background-color: #060ce9;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  vertical-align: middle;
}

.table thead {
  font-family: Helvetica, sans-serif;
  vertical-align: middle;
}

.table tbody {
  font-family: 'Stoke', serif;
  font-size: .5rem;
}

.table th {
  width: 16.67%;
  height: 75px;
  border: 2px solid black;
  cursor: default;
}

.game-square {
  width: 16.67%;
  height: 90px;
  cursor: pointer;
  background-color: #060ce9;
  border: 2px solid black;
}

.fa-question-circle {
  font-size: 2rem;
  color: #FFCC00;
}

.answered {
  background-color: #28a200;
  cursor: default;
}

.hidden {
  display: none;
}

.showing {
  display: inline-block;
  margin: auto;
}